@font-face {
    font-family: 'Open Sans Light';
    src: url('../assets/fonts/OpenSansCondensed-Light.ttf');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('../assets/fonts/OpenSansCondensed-Bold.ttf');
}

@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('../assets/fonts/OpenSansCondensed-LightItalic.ttf');
}
