@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

html, body {
    font-family: 'Open Sans Light';
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #171810;
}